<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Help!</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrapSenti/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/bootstrapSenti/css/shop-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="../static/stockanalysis.png" alt="">
                    <div class="caption-full">
                        
                        <h4>Help</h4>
                        <p>Evaluate Screen: Enter a stock ticker symbol, and an appropriate time period in years (ie 0.5, 1, 1.5, 2). We recomend that you don't enter times beyond 2, as the results will be more accurate with shorter time spans. 
                        </p>
                        <p> Analysis Screen: The user can see four charts analysing either the stock price history or the sentiment surrounding the stock. This data is analysed using either a linear regression or a polynomial regression. These trends are used to make the deductions outlined above the charts. The tool can recommend a buy or sell decision depending on the analysis done with four regressions, and also provides the user insight into the works of the algorithms. To learn more about how the analysis was done, click the more details links.</p>
                        <p>Sentiment Analysis: This screen shows the sentiment expressed in example tweets about the company that were analysed, and emphasizes the important parts of the stock that were analysed. The page also provides useful explanations of how the tool works.</p>
                        <p>Price Screen: Displays historical price data about the company in question. Below this, it provides an explanation of how the algorithm analysed price history, and displays an example of the regression calculation.
                        </p>
                    
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../static/bootstrapSenti/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/bootstrapSenti/js/bootstrap.min.js"></script>

</body>

</html>
